bidict
blinker
Bootstrap-Flask==2.4.1
click
Flask
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
SQLAlchemy
typing_extensions
Werkzeug==3.0.4
WTForms==3.2.1
